## Creating the serverless database

### In other to be effectively create the sql databse that can contain the tables so that I can write queries to the database.

### To achive the above, i will install 3 packages directly on here (or anaconda evironment).

In [1]:
# Installing required SQL magic packages
!pip install sqlalchemy
!pip install ipython-sql
!pip install pymysql

Requirement already satisfied: sqlalchemy in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: ipython-sql in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: pymysql in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (1.1.0)

In [2]:
# Creating a serverless design
import sqlite3
from sqlalchemy import create_engine
import pandas as pd

In [9]:
# Run DDL statement to create tables
# Since i am using the SQLite serverless design, i will need to connect to the sqlite database (it will be created if it doesnt exist)

%load_ext sql

engine =  create_engine("sqlite:///bonga_ecommerce.db") # using this line of code I will be creating the engine that I will use to create the database file 
%config SQL.conn_name = 'engine' # now i will configure the database file(the engine) using this line of code

conn= sqlite3.connect("bonga_ecommerce.db") # using this line of code to connect to the database file after setting it up
cursor = conn.cursor()

# load the database
%sql sqlite:///bonga_ecommerce.db  # using this line of code to start the initialization environment
    
# Create tables (Data Definition Language - DDL)
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    name TEXT NOT NULL,
    price DECIMAL NOT NULL,
    category TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UUIN NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS orderitems (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity TEXT NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)
""")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # using this line of code to start the initialization environment]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
#converting the python cell to sql so i can run sql codes, confirming to see the tables have been created
%%sql
SELECT name FROM sqlite_master WHERE type in ('table', 'view') AND name NOT LIKE 'sqlite_%' ORDER BY 1

 * sqlite:///bonga_ecommerce.db
Done.

[('customers',), ('orderitems',), ('orders',), ('products',)]

In [5]:
# loading data into their respective tables using the below function

def load_data_to_table(csv_path, table_name):
    df = pd.read_csv(csv_path) # this line reads the file
    df.to_sql(table_name, conn, if_exists='append', index=False) # converting the file to an sql file and store it inside the table name and call the connection if exit

In [6]:
# loading the products data into the respective database tables
load_data_to_table('DATA SETS/products.csv', 'products')

In [8]:
load_data_to_table('DATA SETS/customers.csv', 'customers')

IntegrityError: UNIQUE constraint failed: customers.email

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type in ('table', 'view') AND name NOT LIKE 'sqlite_%' ORDER BY 1

In [ ]:
DATA SETS/customers.csv